<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
          	<img src="/assets/images/logo.jpg" alt="">
          	<div class="text">
							<span class="title">BeautyShop</span>
						</div>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if page.section == "home"%} class="active" {% endif%}><a href="/">Home</a></li>
            <li {% if page.section == "packages"%} class="active" {% endif%}><a href="/packages/">BS Packages</a></li>
            <li {% if page.section == "team"%} class="active" {% endif%}><a href="/team/">Our Experts</a></li>
            <!--<li {% if page.section == "gallery"%} class="active" {% endif%}><a href="/gallery/">Drad to Fab</a></li>-->
            <li {% if page.section == "review"%} class="active" {% endif%}><a href="/review/">Testimonials</a></li>
            <!--<li {% if page.section == "special"%} class="active" {% endif%}><a href="/special/">Special Offers</a></li>-->
            <!--<li {% if page.section == "process"%} class="active" {% endif%}><a href="/process/">How to</a></li>-->
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
