/* variables */
/*
font-family:'Camphor W01 Thin';
font-family:'Camphor W01 Thin Italic';
font-family:'Camphor W01 Light';
font-family:'CamphorW01-LightItalic';
font-family:'Camphor W01 Regular';
font-family:'Camphor W01 Italic';
font-family:'Camphor W01 Medium';
font-family:'CamphorW01-MediumItalic';
font-family:'Camphor W01 Bold';
font-family:'Camphor W01 Bold Italic';
font-family:'Camphor W01 Heavy';
font-family:'CamphorW01-HeavyItalic';
*/